@import '@src/styles/color.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $mono203;

  &.last {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .first-box,
  .second-box {
    display: flex;
    gap: 16px;
    align-items: center;

    .icon {
      margin-left: 4px;
      padding: 4px;
      cursor: pointer;

      &:hover {
        background-color: $mono201;
      }
    }
  }
}
