{{- if .Values.tls.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-tls-cert
  namespace: {{ .Values.namespace }}
data:
  registry.crt: |-
    {{ .Files.Get "file/registry.crt" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-tls-key
  namespace: {{ .Values.namespace }}
data:
  registry.key: |-
    {{ .Files.Get "file/registry.key" | nindent 4 }}
---
{{- end }}


{{- if .Values.auth.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-htpasswd
  namespace: {{ .Values.namespace }}
data:
  htpasswd: |-
    {{ .Files.Get "file/htpasswd" | nindent 4 }}
---
{{- end }}

