@import '@src/styles/color.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
  height: 100%;
  .left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      padding: 16px;
      box-sizing: border-box;
      border-radius: 4px;
      border: solid 1px $card-border-color;
      margin-right: 16px;
      img {
        width: 40px;
        height: 40px;
      }
      .initial {
        font-size: 40px;
        color: $mono206;
      }
    }
    .tool-replica-number {
      height: 24px;
      padding: 6px 10px;
      color: $mono205;
      font-size: 16px;
      margin-right: 4px;
      line-height: 1;
      background-color: $mono202;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  .right-box {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    .tooltip-title {
      color: $mono207;
      font-size: 14px;
      font-family: SpoqaB;
      line-height: 12px;
    }
    .tooltip-contents {
      font-size: 13px;
      font-family: SpoqaM;
      line-height: 16px;
      color: $mono207;
      label {
        font-family: SpoqaB;
        color: $mono207;
        margin-right: 4px;
      }
      .error-resolution {
        margin-top: 12px;
      }
    }
  }
}
