@import '@src/styles/color.scss';

.container {
  padding-top: 12px;
  border-top: 1px solid $mono203;
}

.tab {
  box-sizing: border-box;
  display: flex;

  .type {
    padding: 8px 16px;
    color: $mono205;
    font-weight: 700;
    font-family: SpoqaB;
    cursor: pointer;

    &.selected {
      border-bottom: 3px solid $blue104;
      color: $blue104;
    }
  }
}
