@import '@src/styles/color.scss';

.scroll-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .scroll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label-cont {
      display: flex;
      gap: 8px;
      align-items: center;
      text-wrap: nowrap;
      .label-txt {
        color: $mono205;
        font-family: SpoqaM;
        font-size: 14px;
        line-height: 14px;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: initial;
        &:focus {
          outline: 1px solid $blue104;
          border-radius: 8px;
          outline-offset: 1px;
        }
        .reset-img {
          width: 16px;
          height: 16px;
          cursor: pointer;
          transform: rotateY(180deg);
          transform-origin: center;
        }
      }
    }
  }
  .slider-cont {
    display: flex;
    align-items: center;
    height: 20px;
    .slider {
      -webkit-appearance: none; /* 기본 슬라이더 스타일 제거 */
      appearance: none;
      width: 100%;
      height: 4px;
      background-color: $blue104;
      outline: none;
      cursor: pointer;
      &:focus {
        outline: 1px solid $blue104;
        border-radius: 8px;
        outline-offset: 12px;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        outline: 3px solid $blue104;
        border-radius: 9px;
        background-color: #fff;
      }
      &.disabled {
        background-color: $mono203;
        &::-webkit-slider-thumb {
          outline: 3px solid $mono203;
        }
      }
    }
  }
  .minmax-cont {
    display: flex;
    justify-content: space-between;
    color: $mono205;
    font-family: SpoqaM;
    font-size: 12px;
    line-height: 12px; /* 100% */
    letter-spacing: -0.18px;
  }
}
