@import '@src/styles/color.scss';

.rag-detail-cont {
  padding: 8px 0;
  .content {
  }

  .back-to-list {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    cursor: pointer;
    .back-btn-image {
      width: 16px;
      height: 16px;
    }
    .back-btn-label {
      font-size: 16px;
      color: $mono208;
      font-family: SpoqaB;
      margin-left: 4px;
    }
  }
}
