# SFT

## 1-shot

> ### v1
| Category | Single turn | Multi turn |
|---|---|---|
| 글쓰기(Writing) | 8.71 | 8.29 |
| 이해(Understanding) | 9.57 | 9.14 |
| 수학(Math) | 9.14 | 8.57 |
| 추론(Reasoning) | 7.14 | 7.43 |
| 코딩(Coding) | 5.86 | 7.86 |
| 문법(Grammar) | 8.43 | 9.00 |

| Category | Score |
|---|---|
| Single turn | 8.14 |
| Multi turn | 8.38 |
| Overall | 8.26 |

> ### v2
| Category | Single turn | Multi turn | 
|---|---|---|
| 수학(Math) | 8.43 | 7.43 |
| 추론(Reasoning) | 7.43 | 8.86 |
| 코딩(Coding) | 6.00 | 7.86 |
| 이해(Understanding) | 9.14 | 8.57 |
| 글쓰기(Writing) | 7.71 | 8.29 |
| 문법(Grammar) | 8.14 | 7.86 |

| Category | Score |
|---|---|
| Single turn | 7.81 |
| Multi turn | 8.14 |
| Overall | 7.98 |

> ### v3
| Category | Single turn | Multi turn |
|---|---|---|
| 코딩(Coding) | 4.86 | 6.43 |
| 수학(Math) | 8.71 | 8.29 |
| 추론(Reasoning) | 6.57 | 7.29 |
| 이해(Understanding) | 9.43 | 9.14 |
| 글쓰기(Writing) | 8.14 | 8.29 |
| 문법(Grammar) | 8.00 | 8.00 |

| Category | Score |
|---|---|
| Single turn | 7.62 |
| Multi turn | 7.90 |
| Overall | 7.76 |

> ### v4
| Category | Single turn | Multi turn |
|---|---|---|
| 추론(Reasoning) | 8.57 | 7.29 |
| 이해(Understanding) | 9.29 | 8.86 |
| 코딩(Coding) | 6.14 | 7.57 |
| 수학(Math) | 8.71 | 8.00 |
| 글쓰기(Writing) | 8.14 | 8.57 |
| 문법(Grammar) | 8.14 | 8.43 |

| Category | Score |
|---|---|
| Single turn | 8.17 |
| Multi turn | 8.12 |
| Overall | 8.14 |

> ### v5
| Category | Single turn | Multi turn |
|---|---|---|
| 추론(Reasoning) | 8.29 | 7.57 |
| 글쓰기(Writing) | 7.86 | 8.43 |
| 수학(Math) | 8.57 | 7.29 |
| 이해(Understanding) | 9.14 | 9.00 |
| 코딩(Coding) | 6.00 | 8.00 |
| 문법(Grammar) | 8.00 | 8.43 |

| Category | Score |
|---|---|
| Single turn | 7.98 |
| Multi turn | 8.12 |
| Overall | 8.05 |

---
## cot-1-shot
> ### v1
| Category | Single turn | Multi turn |
|---|---|---|
| 코딩(Coding) | 6.29 | 8.00 |
| 추론(Reasoning) | 9.00 | 8.14 |
| 글쓰기(Writing) | 8.57 | 8.14 |
| 수학(Math) | 9.43 | 8.14 |
| 이해(Understanding) | 8.86 | 9.14 |
| 문법(Grammar) | 7.71 | 7.29 |

| Category | Score |
|---|---|
| Single turn | 8.31 |
| Multi turn | 8.14 |
| Overall | 8.23 |

> ### v2
| Category | Single turn | Multi turn |
|---|---|---|
| 수학(Math) | 8.86 | 8.29 |
| 추론(Reasoning) | 8.57 | 8.29 |
| 코딩(Coding) | 7.00 | 8.00 |
| 이해(Understanding) | 9.00 | 9.00 |
| 글쓰기(Writing) | 8.43 | 8.57 |
| 문법(Grammar) | 8.14 | 6.71 |

| Category | Score |
|---|---|
| Single turn | 8.33 |
| Multi turn | 8.14 |
| Overall | 8.24 |

> ### v3
| Category | Single turn | Multi turn |
|---|---|---|
| 수학(Math) | 9.00 | 8.29 |
| 추론(Reasoning) | 8.57 | 7.86 |
| 이해(Understanding) | 9.14 | 9.14 |
| 코딩(Coding) | 6.29 | 8.00 |
| 글쓰기(Writing) | 8.14 | 8.43 |
| 문법(Grammar) | 8.71 | 6.86 |

| Category | Score |
|---|---|
| Single turn | 8.31 |
| Multi turn | 8.10 |
| Overall | 8.20 |

> ### v4
| Category | Single turn | Multi turn |
|---|---|---|
| 수학(Math) | 8.71 | 8.43 |
| 글쓰기(Writing) | 8.29 | 8.71 |
| 추론(Reasoning) | 8.57 | 8.29 |
| 코딩(Coding) | 6.86 | 8.00 |
| 이해(Understanding) | 9.00 | 9.14 |
| 문법(Grammar) | 7.86 | 6.57 |

| Category | Score |
|---|---|
| Single turn | 8.21 |
| Multi turn | 8.19 |
| Overall | 8.20 |

> ### v5
| Category | Single turn | Multi turn |
|---|---|---|
| 코딩(Coding) | 6.86 | 7.86 |
| 추론(Reasoning) | 8.71 | 7.71 |
| 수학(Math) | 8.57 | 8.29 |
| 글쓰기(Writing) | 8.57 | 8.43 |
| 이해(Understanding) | 9.00 | 8.86 |
| 문법(Grammar) | 7.86 | 7.71 |

| Category | Score |
|---|---|
| Single turn | 8.26 |
| Multi turn | 8.14 |
| Overall | 8.20 |

---
## default
> ### v1
| Category | Single turn | Multi turn |
|---|---|---|
| 추론(Reasoning) | 8.14 | 8.29 |
| 수학(Math) | 8.43 | 8.29 |
| 코딩(Coding) | 5.14 | 7.71 |
| 이해(Understanding) | 9.29 | 8.86 |
| 글쓰기(Writing) | 8.14 | 8.29 |
| 문법(Grammar) | 8.86 | 7.71 |

| Category | Score |
|---|---|
| Single turn | 8.00 |
| Multi turn | 8.19 |
| Overall | 8.10 |

> ### v2
| Category | Single turn | Multi turn |
|---|---|---|
| 수학(Math) | 8.86 | 7.43 |
| 코딩(Coding) | 6.00 | 7.71 |
| 추론(Reasoning) | 7.00 | 9.00 |
| 이해(Understanding) | 9.43 | 8.71 |
| 글쓰기(Writing) | 8.00 | 9.00 |
| 문법(Grammar) | 8.57 | 7.71 |

| Category | Score |
|---|---|
| Single turn | 7.98 |
| Multi turn | 8.26 |
| Overall | 8.12 |

> ### v3
 Category | Single turn | Multi turn |
|---|---|---|
| 코딩(Coding) | 5.57 | 8.29 |
| 글쓰기(Writing) | 8.14 | 9.29 |
| 추론(Reasoning) | 7.00 | 8.57 |
| 수학(Math) | 8.57 | 7.14 |
| 이해(Understanding) | 9.43 | 8.43 |
| 문법(Grammar) | 9.29 | 7.71 |

| Category | Score |
|---|---|
| Single turn | 8.00 |
| Multi turn | 8.24 |
| Overall | 8.12 |

> ### v4
| Category | Single turn | Multi turn |
|---|---|---|
| 코딩(Coding) | 6.00 | 8.00 |
| 이해(Understanding) | 9.43 | 8.71 |
| 수학(Math) | 8.57 | 7.29 |
| 글쓰기(Writing) | 8.29 | 8.71 |
| 추론(Reasoning) | 6.71 | 9.00 |
| 문법(Grammar) | 8.14 | 7.86 |

| Category | Score |
|---|---|
| Single turn | 7.86 |
| Multi turn | 8.26 |
| Overall | 8.06 |

> ### v5
| Category | Single turn | Multi turn |
|---|---|---|
| 수학(Math) | 9.14 | 7.29 |
| 이해(Understanding) | 9.57 | 8.29 |
| 추론(Reasoning) | 6.86 | 7.71 |
| 코딩(Coding) | 5.86 | 7.86 |
| 글쓰기(Writing) | 7.86 | 9.14 |
| 문법(Grammar) | 8.86 | 7.71 |

| Category | Score |
|---|---|
| Single turn | 8.02 |
| Multi turn | 8.00 |
| Overall | 8.01 |