@import '@src/styles/color.scss';

.row {
  margin-bottom: 36px;
  .label {
    display: inline-block;
    font-size: 16px;
    font-family: SpoqaB;
    color: $title-color;
    margin-bottom: 8px;
    .optional {
      color: $mono205;
      font-size: 16px;
      font-family: SpoqaM;
    }
  }
}
