.row {
  margin-bottom: 32px;
}

.border {
  margin: 16px 0;
  height: 1px;
  background-color: #dbdbdb;
}

.flex-box {
  display: flex;
  gap: 16px;
}

.notice {
  color: #2d76f8;
  font-family: SpoqaM;
  font-size: 14px;
  line-height: 14px;
}
