@import '@src/styles/color.scss';

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: SpoqaB;
  font-size: 20px;
  .divide {
    margin: 0 8px;
  }
  .tool-icon {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }
  .tool-label {
    font-size: 24px;
    font-family: SpoqaM;
  }
}

.form {
  padding-right: 48px;

  .notice {
    font-size: 16px;
    color: $mono207;
    margin-bottom: 48px;
  }
}

.ban-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.ban-text-box {
  position: relative;
  .ban-text {
    display: flex;
    align-items: center;
    z-index: 2;
    color: $red502;
    margin-top: 5px;
    font-size: 16px;
    font-family: SpoqaM;
    font-weight: normal;
  }
}
