@import '@src/styles/color.scss';

.list-filter {
  z-index: 1;
  display: flex;
  padding-top: 24px;
  padding-bottom: 8px;
  // background-color: $mono201;
  .filter-wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    .right-box {
      flex: 1;
      gap: 8px;
      display: flex;
      justify-content: flex-end;
      padding-left: 10px;
    }
    // .cover-wrap {
    //   display: flex;
    //   gap: 8px;
    // }
    // .divider {
    //   width: 1px;
    //   height: 36px;
    //   background-color: $mono203;
    //   margin: 0 4px;
    // }
  }
}
