torch>=2.5.1,<2.6.0
torchvision
torchaudio
tensorflow
transformers>=4.52.4,<5.0.0
datasets
peft>=0.15.0
deepspeed>=0.16.0
scikit-learn
numpy
pandas
tqdm
accelerate>=1.5.0
evaluate
sentencepiece
protobuf
html5lib
huggingface-hub>=0.28.0
tokenizers>=0.21.0
tensorboard
tf-keras
pymysql
bitsandbytes>=0.45.0
aiokafka
