torch 
torchvision 
torchaudio
tensorflow
transformers
datasets
peft
deepspeed
scikit-learn
numpy
pandas
tqdm
accelerate
evaluate
sentencepiece
protobuf
html5lib
huggingface-hub
tensorboard
tf-keras
pymysql