tensorboard
fastapi==0.115.4
fastapi-restful==0.6.0
fastapi-restful-extension==0.4.2
starlette==0.41.2 # 0.41.3 일 경우 fastapi middleware 오류 발생
kubernetes
paramiko
PyMySQL
redis
starlette_context
uvicorn
confluent-kafka
pymongo
aiomysql
aiohttp
motor
hypercorn
uvloop
aiofiles
aiokafka
aiopath
pytest
huggingface-hub==0.34.3  # 최신버전에서 HFFolder 지원하지 않아 구버전으로 롤백
pycryptodome
python-multipart