@import '@src/styles/color.scss';

.container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $mono203;

  &.last {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .icon {
    cursor: pointer;
  }
}
