@import '../UserTestContent.module.scss';

.input-analysis {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 36px;

  .file-browse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
  }
}
