@import '@src/styles/color.scss';

.dashboard {
  padding: 0 48px;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  .header {
    width: 100%;
    display: flex;
    align-items: baseline;
    transition: left 0.7s;
    margin: 0 0 22px 0;
    border-bottom: 1px solid $mono203;
    &.expand {
      left: 328px;
    }
    .welcome {
      font-size: 32px;
      font-family: SpoqaB;
      color: $mono207;
      margin: initial;
      margin-bottom: 32px;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
    }
    .refresh {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 84px;
      height: 24px;
      padding: 4px 12px 4px 8px;
      border: none;
      border-radius: 4px;
      color: $mono205;
      font-family: SpoqaM;
      font-size: 12px;
      background: none;
      cursor: pointer;
      &:hover {
        background-color: $mono202;
      }
      img {
        width: 16px;
      }
      &.loading > img {
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  .content {
    overflow-x: auto;
    overflow: visible;
    .card-box {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // grid-column-gap: 32px;
      // grid-row-gap: 32px;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }
      .create-card-btn {
        min-width: 407px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border: 1px dashed $blue103;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 3px 6px 0px rgba(45, 118, 248, 0.1);
        box-sizing: border-box;
        cursor: pointer;
        &:active {
          border: 1px solid $blue103;
        }
        .flex-cont {
          width: 133px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
          span {
            color: $blue104;
            font-size: 24px;
            font-family: SpoqaB;
            line-height: 28px;
            text-align: center;
          }
        }
      }
    }
    .loading-container,
    .no-response,
    .no-data {
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $mono207;
    }
  }

  // @media (max-width: 1366px) {
  //   .content {
  //     .card-box {
  //       grid-template-columns: repeat(3, 1fr);
  //     }
  //   }
  // }

  // @media (max-width: 1024px) {
  //   .content {
  //     .card-box {
  //       grid-template-columns: repeat(2, 1fr);
  //     }
  //   }
  // }

  // @media (max-width: 500px) {
  //   .content {
  //     .card-box {
  //       grid-template-columns: repeat(1, 1fr);
  //     }
  //   }
  // }
}
