apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-src" ( include "name.worker" . ) }}
  namespace: {{ include "namespace" . }}
data:
  deployment_api_deco.py: |-
  {{ .Files.Get "src/deployment/deployment_log/deployment_api_deco.py" | nindent 4 }}
  history.py: |-
  {{ .Files.Get "src/deployment/deployment_log/history.py" | nindent 4 }}
  nginx.conf: |-
  {{ .Files.Get "src/deployment/nginx/nginx.conf" | nindent 4 }}
  api.conf: |-
  {{ .Files.Get "src/deployment/nginx/api.conf" | nindent 4 }}
  command.sh: |-
  {{ .Files.Get "src/deployment/installer/command.sh" | nindent 4 }}
  log.sh: |-
  {{ .Files.Get "src/deployment/installer/log.sh" | nindent 4 }}


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-src-llm" ( include "name.worker" . ) }}
  namespace: {{ include "namespace" . }}
data:
  settings.py: |-
  {{ .Files.Get "src/llm/settings.py" | nindent 4 }}
  playground.py: |-
  {{ .Files.Get "src/llm/playground.py" | nindent 4 }}
  embedding.py: |-
  {{ .Files.Get "src/llm/embedding.py" | nindent 4 }}
  reranker.py: |-
  {{ .Files.Get "src/llm/reranker.py" | nindent 4 }}
  db.py: |-
  {{ .Files.Get "src/llm/db.py" | nindent 4 }}







{{/*
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ .Values.metadata.name.podName }}-nginx-cm
#   namespace: {{ include "namespace" . }}
# data:
#   nginx.conf: |-
#   {{ .Files.Get "src/deployment/nginx/nginx.conf" | nindent 4 }}
#   api.conf: |-
#   {{ .Files.Get "src/deployment/nginx/api.conf" | nindent 4 }}

# ---

# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ .Values.metadata.name.podName }}-log-cm
#   namespace: {{ include "namespace" . }}
# data:
#   deployment_api_deco.py: |-
#   {{ .Files.Get "src/deployment/deployment_log/deployment_api_deco.py" | nindent 4 }}
#   history.py: |-
#   {{ .Files.Get "src/deployment/deployment_log/history.py" | nindent 4 }}
*/}}