@import '@src/styles/color.scss';

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  position: relative;
  width: 100%;
  .error-message {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $error-color;
    position: absolute;
    left: 10px;
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > button {
      margin-left: 12px;
    }
  }
  .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > button {
      margin-right: 12px;
    }
  }
}
