@import '@src/styles/color';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &.disabled {
    opacity: 0.5;
  }
  .title {
    font-size: 14px;
    color: $mono205;
  }
  .message {
    font-size: 14px;
    color: $red502;
    white-space: pre-line;
  }

  .down-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: SpoqaM;

    .sub-title {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: -0.18px;
      color: $mono205;
    }
    .link {
      color: $mono207;
      border: 1px solid $mono203;
      border-radius: 8px;
      // margin-bottom: 24px;
      // margin-top: 8px;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      .link-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.18px;
        font-family: SpoqaM;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }

    span:first-of-type {
      color: $mono206;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.18px;
    }

    .param-info {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $mono205;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: -0.18px;
      margin-bottom: 16px;
    }
  }
}

.tooltip-box {
  width: 209px;
  border: 1px solid $blue101;
  background-color: $mono200;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  .tooltip-title {
    font-family: SpoqaB;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: $mono207;
    border-bottom: 1px solid $mono203;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }

  .params {
    // height: 392px;
    border: 1px solid $mono203;
    border-radius: 7px;
    .param {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      font-family: SpoqaM;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: -0.18px;
      border-bottom: 1px solid $mono203;
      box-sizing: border-box;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
