@import '@src/styles/color.scss';

.training-data {
  display: flex;
  flex-direction: column;

  .training-list {
    flex: 1;
    overflow-y: auto;
    .training-item {
      padding: 10px 16px;
      background-color: $blue101;
      border-radius: 7px;
      // margin-bottom: 8px;
      font-size: 14px;
      width: 100%;

      box-sizing: border-box;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: SpoqaM;
        font-weight: 500;
        line-height: 14px;

        .item-name {
          white-space: normal;
          word-break: break-all;
        }
        .close {
          cursor: pointer;
          &.disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .training-btn {
    margin-top: 8px;
    height: 30px;

    gap: 16px;
    display: flex;
  }
}
