@import '@src/styles/color.scss';

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 12px;
  position: relative;
  width: 100%;

  .error-message {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $error-color;
    position: absolute;
    left: 10px;
  }
}
