@import '@src/styles/color.scss';

.page-contents {
  margin-top: 20px;

  .control-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 8px;
    margin-top: 20px;

    .left-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        margin: 0;
      }
    }
    .right-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap-reverse;
      grid-gap: 8px;
      .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        label {
          font-size: 14px;
          color: $mono205;
          white-space: nowrap;
        }
        .select-button {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          grid-gap: 8px;
          padding-left: 10px;
          padding-right: 30px;
          .btn-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-gap: 8px;
            .button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: auto;
              min-width: 80px;
              height: 36px;
              padding: 0 14px;
              border: 1px solid $mono204;
              border-radius: 4px;
              font-size: 13px;
              font-family: SpoqaM;
              color: $mono205;
              white-space: nowrap;
              box-sizing: border-box;
              cursor: pointer;
              &.show {
                border: 1px solid $blue104;
              }
              &.hide {
                border: 1px solid $mono204;
              }
              &.selected {
                background-color: rgba($blue104, 0.04);
                border: 1px solid $blue104;
                color: $blue104;
              }
              &:hover {
                background-color: $hover-bg-color;
              }
            }
          }
        }
      }
    }
  }

  .table-container {
    width: 100%;
    height: calc(100vh - 293px);
    overflow-x: auto;
    margin-top: 12px;
  }
  .benchmark-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid $mono204;
    font-size: 13px;
    thead {
      position: sticky;
      top: 0px;
      z-index: 1;
      tr:first-child {
        th {
          border-top: 1px solid $mono204;
        }
      }
    }
    tr {
      th,
      td {
        position: relative;
        min-width: 60px;
        padding: 16px 10px;
        text-align: center;
        vertical-align: middle;
        &.disabled {
          color: $mono204;
          background-color: $mono202;
        }
        .button-div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .value {
          display: flex;
          align-items: center;
          justify-content: center;
          .bandwith {
            color: $mono207;
          }
          .error {
            color: $error-color;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .btn {
          position: absolute;
          top: 2px;
          right: 2px;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          .sync-icon {
            width: 24px;
            height: 24px;
          }
        }
      }
      th {
        border-top: 1px solid $mono200;
        border-bottom: 1px solid $mono204;
        border-left: 1px solid $mono200;
        border-right: 1px solid $mono204;
        background: $mono202;
      }
      td {
        background: $mono200;
        border-right: 1px solid rgba($mono204, 0.3);
        border-bottom: 1px solid rgba($mono204, 0.3);
        &:not(.node-td) {
          border-bottom: 1px solid $mono204;
        }
        &.last-right {
          border-right: 1px solid $mono204;
        }
        &.last-bottom {
          border-bottom: 1px solid $mono204;
        }

        &.same-node,
        &.node-td:not(.same-network) {
          background-color: rgba($mono202, 0.5);
        }
        &.same-node {
          border-right: 1px solid $mono204;
          border-bottom: 1px solid $mono204;
          .bar {
            display: inline-block;
            width: 24px;
            height: 2px;
            background-color: $mono206;
          }
        }
        .error {
          font-size: 13px;
          color: $error-color;
          .error-icon {
            width: 18px;
            height: 18px;
            margin-right: 2px;
            vertical-align: text-bottom;
          }
        }
        .syncing {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          color: $blue104;
          .syncing-icon {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            animation: rotate 1s linear infinite;
          }
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      &.small-row {
        th,
        td {
          padding: 8px 10px;
        }
      }
      &.large-row {
        th,
        td {
          padding: 30px 8px 30px;
        }
      }
    }
  }

  .empty-box {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mono205;
    font-size: 16px;
  }

  .syncing-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    &.loading {
      animation: rotate 1s linear infinite;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(300deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
