apiVersion: v1
kind: ConfigMap
metadata:
  name: db-settings
  namespace: {{ .Values.global.jfb.namespace }}
data:
  JF_DB_HOST: {{ printf "%s.%s.svc.cluster.local" .Values.global.jfb.settings.db.host .Values.global.jfb.namespace }}
  JF_DB_PORT: {{ .Values.global.jfb.settings.db.port | quote }}
  JF_DB_UNIX_SOCKET: '/jf-src/master/conf/db/mysqld.sock'
  JF_DB_USER: 'root'
  JF_DB_PW: 'tango1234@'
  JF_DB_NAME: 'msa_jfb'
  JF_DB_CHARSET: 'utf8'
  JF_DB_DOCKER: 'JF-mariadb'
  JF_DB_ATTEMP_TO_CREATE: "true" # 소문자
  JF_DB_MAX_CONNECTIONS: '500'
  JF_DB_COLLATION: "utf8_general_ci"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-schema
  namespace: {{ .Values.global.jfb.namespace }}
data:
  schema.sql: |
    {{ .Files.Get "file/schema.sql" | nindent 4 }}
  schema_llm.sql: |
    {{ .Files.Get "file/schema_llm.sql" | nindent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-check
  namespace: {{ .Values.global.jfb.namespace }}
data:
  check.py: |
    {{ .Files.Get "file/check.py" | nindent 4 }}