@import '@src/styles/color.scss';

.border {
  width: 100%;
  height: 1px;
  background-color: $mono203;
  margin: 32px 0;
}

.dataset-message {
  margin: initial;
  margin-top: 8px;
  color: $mono205;
  font-family: SpoqaM;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.18px;
}
