@import '@src/styles/color.scss';

.wrapper {
  .form-type {
    margin: 0 0 4px 0;
    color: $mono207;
    font-size: 16px;
    font-family: SpoqaB;
  }

  .form-desc {
    margin: 0 0 12px 0;
    font-family: SpoqaM;
    font-size: 14px;
    color: $mono205;
  }
  .border {
    border: 0px;
    height: 1px;
    background-color: $mono203;
  }
  .google-picker {
    display: flex;
    flex-direction: row;

    .google-drive-btn {
      position: relative;
      display: flex;
      align-items: center;
      width: max-content;
      height: 36px;
      background-color: $mono200;
      border: 1px solid $mono200;
      border-radius: 4px;
      padding: 0 1.41176em;
      cursor: pointer;
      &:hover {
        background-color: $mono202;
        border: 1px solid $mono202;
      }
      .google-drive-logo {
        height: 20px;
      }
    }
  }
}

.selected-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 465px;
  color: $primary-color;
  font-size: 16px;
  font-family: SpoqaB;
  padding-right: 4px;
  box-sizing: border-box;
  // margin-left: 12px;
  .folder-name,
  .folder-more {
    color: $primary-color;
    font-size: 16px;
    font-family: SpoqaB;
    padding-right: 4px;
  }
  .folder-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 3px;
  & > img {
    width: 16px;
    height: 16px;
  }
  &:hover {
    background-color: $hover-bg-color;
  }
}
