@import '@src/styles/color.scss';

.loading {
  display: inline-block;
  border: 3px solid $mono202; /* Light grey */
  border-top: 3px solid $primary-color; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  vertical-align: middle;
  &.small {
    width: 15px;
    height: 15px;
  }
  &.medium {
    width: 24px;
    height: 24px;
  }
  &.large {
    width: 32px;
    height: 32px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
