prometheus:
  prometheusSpec:
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    routePrefix: "/prometheus"
    scrapeInterval: "3s"
    securityContext:
      runAsGroup: 0
      runAsNonRoot: false
      runAsUser: 0
      fsGroup: 0
      seccompProfile:
        type: RuntimeDefault
    retention: 10d
    retentionSize: ""
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: jonathan-system-sc
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 100Gi
        #additionalScrapeConfigs:
    additionalServiceMonitors:
      - name: storage-metric
        selector:
          matchLabels:
            app: storage-exporter
        endpoints:
          - port: metrics
            path: /metric
      - name: doca-metric
        selector:
          matchLabels:
            app.kubernetes.io/name: doca-telemetry 
        endpoints:
          - port: 9189
            path: /metrics
      - name: dcgm-metric
        selector:                
          matchLabels:
            app.kubernetes.io/name: dcgm-exporter
        endpoints:
          - port: metrics
            path: /metric
      - name: cis-http-metrics
        selector:
          matchLabels:
            team: rook
        endpoints:
          - port: 
            path: /metrics
      - name: rook-ceph-metric
        selector:
          matchLabels:
            team: rook
        endpoints:
          - port: 
            path: /metrics
            #atchLabels:
            #eam: rook

kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeScheduler:
  enabled: false
kubeProxy:
  enabled: false

prometheus-node-exporter:
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
    - --collector.cpu.info

kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[*]
    - persistentvolumeclaims=[jfb,workspaceName]


grafana:
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
    #service:
      #type: NodePort
      #nodePort: 31000
      #portName: http-web
  grafana.ini:
    server:
      root_url: "/grafana"
      serve_from_sub_path: true
  persistence:
    enabled: true
    size: 100Gi
    storageClassName: jonathan-system-sc
  adminUser: "acryl"
  adminPassword: "acryl1234"

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: jonathan-system-sc
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 100Gi
        selector: {}

