fastapi
fastapi-restful
fastapi-restful-extension
kubernetes
paramiko
PyMySQL
redis
starlette_context
uvicorn
confluent-kafka
pymongo
aiomysql
aiohttp
motor
hypercorn
uvloop
aiofiles
aiokafka
pytest
pycryptodome
python-multipart
matplotlib
psutil