@import '@src/styles/color.scss';

.wrapper {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $mono203;
    padding-bottom: 16px;
    box-sizing: border-box;

    .btn {
      display: flex;
      align-items: center;
      gap: 16px;

      .create-btn {
        all: unset;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 132px;
        height: 34px;
        font-weight: 700;
        font-size: 14px;
        border-radius: 4px;
        color: $blue104;
        background-color: white;
        box-shadow: 0px 3px 6px 0px rgba(45, 118, 248, 0.1);
        cursor: pointer;

        &:hover {
          border: 1px solid $blue104;
        }
      }
    }
  }

  .content {
    margin-top: 16px;
  }

  .delete-btn {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 32px;
    border-radius: 4px;
    background-color: $red501;
    color: $red502;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;

    &.disabled {
      color: white;
      background-color: #f0f0f0;
      cursor: not-allowed;
    }

    &:hover:not(.disabled) {
      background-color: $red502;
      color: $red501;
    }
  }
}
