@import '../../modal.scss';

.wrapper {
  margin: 20px 0 24px;
  padding: 34px 24px;
  border-radius: 4px;
  background-color: rgba($blue104, 0.08);
  box-sizing: border-box;

  .info {
    font-size: 13px;
    color: $mono207;
    margin: 4px 0 12px;
  }

  .list-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: $mono205;
    border-bottom: 1px solid $mono203;
    padding-bottom: 4px;
    margin-bottom: 8px;
    > div {
      margin: 0 8px;

      &:first-of-type {
        flex: 1;
      }
      &:nth-of-type(2) {
        flex: 0.2;
        min-width: 100px;
        // border: 1px solid black;
      }
      &:nth-of-type(3) {
        flex: 0.2;
        min-width: 100px;
        // border: 1px solid black;
      }
      &:nth-of-type(4) {
        margin: 0; // 마지막 요소의 margin을 제거합니다.
        padding: 0;
        width: 8rem;
        text-align: center;
      }
    }
    .sub-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px solid red;
    }
  }
}
