fastapi==0.115.4
uvicorn==0.29.0
starlette==0.41.2
pydantic==2.4.1
redis==5.0.4
pymongo==4.8.0
aiomysql
aiohttp
kubernetes
PyMySQL
requests
python-multipart
confluent-kafka
aiokafka
motor
psutil
werkzeug