@import '../modal.scss';

.ban-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.ban-text-box {
  position: relative;
  .ban-text {
    display: flex;
    align-items: center;
    z-index: 2;
    color: $red502;
    margin-top: 5px;
    font-size: 16px;
    font-family: SpoqaM;
    font-weight: normal;
  }
}
