@import '@src/styles/color.scss';

.cont {
  margin-bottom: 32px;
}

.title {
  margin: initial;
  margin-bottom: 8px;
  color: $mono207;
  font-family: SpoqaB;
  font-size: 16px;
  line-height: 16px;
}

.dropdown-cont {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $mono203;
  background-color: #fff;
  height: 44px;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  cursor: pointer;
  &.open {
    border-radius: 10px 10px 0 0;
  }
  .label {
    display: inline-block;
    width: 68px;
    color: $mono205;
    font-family: SpoqaB;
    font-size: 14px;
    line-height: 14px;
  }
  .selected-item {
    width: 100%;
    font-family: SpoqaM;
    font-size: 14px;
    line-height: 14px; /* 100% */
    color: $mono204;
    &.selected {
      color: $mono207;
    }
  }
  .arrow-img {
    width: 16px;
    height: 16px;
  }
}

.open-cont {
  height: 248px;
  border: 1px solid $mono203;
  border-top: none;
  border-radius: 0 0 10px 10px;
  .search-cont {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-bottom: 1px solid $mono203;
    background-color: #f9fafb;
    .input-cont {
      width: 100%;
    }
    .toggle-cont {
      display: flex;
      align-items: center;
      gap: 8px;
      text-wrap: nowrap;
      .label {
        color: $mono205;
        font-family: SpoqaM;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.18px;
      }
      .toggle {
        display: flex;
        .item {
          display: flex;
          align-items: center;
          padding: 8px 12px;
          height: 28px;
          box-sizing: border-box;
          color: $mono208;
          font-family: SpoqaM;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: -0.18px;
          cursor: pointer;
          border: 1px solid $mono204;
          &:first-child {
            border-radius: 5px 0 0 5px;
          }
          &:last-child {
            border-radius: 0 5px 5px 0;
          }
          &:not(:last-child) {
            border-right: 1px solid $mono204;
          }
          &.selected {
            color: $blue104;
            background-color: $blue101;
            border: 1px solid $blue104;
          }
        }
      }
    }
  }
}

.list-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  height: 200px;
  box-sizing: border-box;
  overflow-y: auto;
  .item-cont {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid $mono203;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #eff4fe;
    }
    &.selected {
      border: 1px solid $blue104;
      background-color: #eff4fe;
      .item-name-txt,
      .scope-txt {
        color: $blue104;
      }
      .item-name-txt::after {
        display: inline-block;
        content: '';
        background: url('@src/static/images/icon/00-ic-check-active.svg');
        width: 16px;
        height: 16px;
        margin-left: 9.5px;
        background-size: cover;
      }
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    .item-name-txt {
      display: flex;
      align-items: center;
      width: 100%;
      color: $mono205;
      font-family: SpoqaM;
      font-size: 14px;
      line-height: 14px;
      margin-right: 24px;
    }
    .scope-txt {
      color: $mono204;
      font-family: SpoqaM;
      font-size: 14px;
      line-height: 14px;
      text-wrap: nowrap;
    }
  }
}
