@import '@src/styles/color.scss';

.list-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;

  .check {
    flex: 3.5;
    margin: 0 8px;
    display: flex;

    .instance-name-box {
      display: flex;
      align-items: center;
      max-height: 3em;

      .model-name {
        word-break: break-all;
        margin-right: 8px;
        max-width: calc(100% - 24px);
      }
    }
  }

  > div:not(.check) {
    flex: 1;
    margin: 0 8px;

    &:last-child {
      flex: 2;
    }

    &.sub-row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .server-selected {
      display: inline-block;
      font-family: SpoqaM;
      font-size: 14px;
      padding: 4px 0;
      cursor: pointer;

      .fixed {
        display: inline-block;
        width: 48px;
        margin-left: 4px;
        text-align: left;
      }
    }
  }
}
